.slider__wrapper {
  height: 30vw !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 6vw;
}

.slider-frame {
  height: 100% !important;
}
/*.slider-frame {
  height: 100%;
}*/
