.content {
  display: flex;
  padding: 3.5vw;
}

.content--left {
  flex: 2.5;
  margin-right: 30px;
}

.content--left > p {
  text-align: left;
}

.content--right {
  position: relative;
  flex: 2;
}

.content--right__item {
  top: 0;
  position: absolute;
  animation-fill-mode: forwards;
}
