@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .contact-form {
    background-image: url('../../../assets/Extra/elements-pattern@2x.png') !important;
  }
}

.contact-form {
  padding-bottom: 5vw;
  background-color: #e8e8e8;
  margin: 3.5vw 15vw;
  padding: 3.5vw;
  background-image: url('../../../assets/Extra/elements-pattern.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 10vw;
}

.contact-form__info {
  margin-bottom: 5vw;
}

.contact-form__info__required {
  position: relative;
}

.contact-form__info__required--bullet {
  color: #ec0f50;
}

.contact-form__row--submit {
  text-align: left !important;
  padding: 1.5vw 0px !important;
}

.contact-form__info *  {
  text-align: left;
  display: flex;
}

.contact-form__row {
  display: flex;
  padding: 0.75vw 0px;
}

.contact-form__row--text-area {
  display: flex;
  padding: 0.75vw 0px;
}

.contact-form__row--submit {
  text-align: center;
  padding: 1.5vw;
}

.contact-form__row > label:first-child {
  margin-right: 3.5vw;
}

.contact-form__row > label:not(:first-child) {
  margin-left: 3.5vw;
}
