@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .contact {
    background-image: url('../../../assets/Extra/elements-footer-pattern@2x.png') !important;
  }
}

.contact {
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.47);
  width: 100%;
  background-color: #f1f1f1;
  width: 100%;
  background-image: url('../../../assets/Extra/elements-footer-pattern.png');
  padding: 5vw 0px 28.75vw 0px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}
