.city-icon {
  width: 11.49vw;
  height: 13.27vw;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  margin-bottom: 1.59vw;
}

.city-icon__almere {
  background: url('../../../assets/About/almere-logo.png');
}

.city-icon__barcelona {
  background: url('../../../assets/About/bcn-logo.png');
}
