@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .client__logo {
    background: url('../../../assets/Extra/company-logo-frame@2x.png') !important;
  }
}

.client {
  width: 19.49vw;
  height: 18vw;
  margin: 1.5vw 0px;
  display: flex;
  justify-content: center;
}

.client__logo {
  background: url('../../../assets/Extra/company-logo-frame.png');
  width: 15.6vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% !important;
}

.client__logo > div {
  width: 100%;
  height: 100%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
