@media screen and (max-width: 480px) {
  .text-columns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .text-columns > p {
    flex: 1;
    font-size: 0.7em;
    text-align: center !important;
    margin: 0px 8vw;
    border-left: none !important;
    border-bottom: 1px solid rgba(128, 128, 128, 0.23);
    padding: 3vw 0px 3vw 0px !important;
  }
}

.text-columns {
  display: flex;
  margin: 3vw 0px 5vw 0px;
}

.text-columns > p {
  padding: 0px 3vw;
  text-align: left;
  flex: 1;
}

.text-columns > p:not(:first-child) {
  border-left: 1px solid rgba(214, 83, 112, 0.13);
}
