.comment-form {
  border-bottom: 0.25vw solid #ec0f50;
  padding-bottom: 5vw;
}

.comment-form__row {
  display: flex;
  padding: 2vw 0px;
}

.comment-form__row--text-area {
  display: flex;
  margin-top: 3.5vw;
}

.comment-form__row--submit {
  text-align: center;
  padding: 1.5vw;
}

.comment-form__row > label:first-child {
  margin-right: 3.5vw;
}

.comment-form__row > label:not(:first-child) {
  margin-left: 3.5vw;
}
