.footer-menu {
  display: flex;
  align-items: center
}

.footer-menu__item {
  margin: 0px 1.5vw;
}

.footer-menu__item * {
  font-size: 0.9vw;
}

.footer-menu__item:last-child {
  margin: 0px 0px;
}
