* {
  margin:0;
  padding:0;
  list-style:none;
  vertical-align:baseline;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #6e7683;
}

#root {
  background: #f2f4f6;
}
