.comments {
  padding: 3.5vw 0px;
  border-bottom: 2px solid #e8e8e8;
}

.comments__info {
  padding-bottom: 1.75vw;
  display: flex;
}

.comments__info__author {
  color: #ec0f50 !important;
  font-weight: bold !important;
  margin-right: 1.75vw !important;
}

.comments__comment {
  text-align: left !important;
}
