.comments {
  padding: 70px 0px;
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 70px;
}

.comments__info {
  padding: 35px 0px;
  display: flex;
}

.comments__info__author {
  color: #ec0f50;
  font-weight: bold;
  margin-right: 35px;
}

.comments__comment {
  text-align: left;
}
